div.title-box
    img(src="https://edtly.netlify.app/img/logo.ico")
    div
        h1 >_ YouTube Downloader
        nav
            a(href="/") Reload
            a(href="https://edtly.netlify.app/") Home
            a(href="/about") About