extends _layout


block content
    h1.about About
    h2.about Disclaimer
    p.about This Website is not a part of YouTube or Google.

    h2.about Where do we have the data of the youtube videos?
    p.about We use the official data from the youtube.com website. All URLs and metadata come from the respective page of the corresponding Youtube video.

    h2.about Is the downloading of youtube videos lawful?
    p.about Everyone is allowed to download public Youtube videos for private use.

    h2.about Does this website violate laws and regulations such as once "convert2mp3"?
    p.about
        | No. On "convert2mp3" the videos were converted on the servers of the provider and made available for download.
        | On our website, you download the videos directly from the sources on the google server.
    p.copy copyright&copy;2024 by: Gilga